<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- title %></title>
		<link
			href="https://cdn.jsdelivr.net/npm/kursor@0.1.6/dist/kursor.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body
		class="flex flex-col items-center content-center min-h-full overflow-x-hidden bg-white select-none dark:bg-gray-800 dark:text-white text-gray-950"
	>
		<main
			class="container flex flex-wrap items-start content-center w-screen min-h-screen text-center"
		>
			<div class="w-full">
				<h1
					class="my-10 mb-4 text-3xl font-extrabold leading-none tracking-tight lg:text-5xl"
				>
					404
					<span
						class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
						>not found</span
					>
					🫤
				</h1>
				<a
					href="/"
					type="button"
					class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
					>Home</a
				>
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/kursor@0.1.6/dist/kursor.min.js"></script>
		<script>
			new kursor({
				type: 1,
				removeDefaultCursor: true,
				color: '#476582',
			});
		</script>
	</body>
</html>
