<nav id="socials" class="text-center">
	<ul class="flex items-start mt-5">
		<li class="mx-5 text-3xl cursor-pointer">
			<a
				class=""
				target="_blank"
				rel="noreferrer"
				href="https://github.com/Silent-Watcher/fileUploader"
				><i
					class="text-transparent bx bxl-github bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
				></i
			></a>
		</li>
		<li class="mx-5 text-2xl cursor-pointer">
			<a id="themeBtn" href=""
				><i
					class="text-zinc-700 dark:text-white bx bxs-moon"
				></i
			></a>
		</li>
	</ul>
</nav>
<main
	class="container flex flex-wrap items-start content-center w-screen min-h-screen text-center"
>
	<div class="w-full">
		<h1
			class="my-10 mb-4 text-3xl font-extrabold leading-none tracking-tight lg:text-5xl"
		>
			404
			<span
				class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
				>not found</span
			>
			🫤
		</h1>
		<a
			href="/"
			type="button"
			class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
			>Home</a
		>
	</div>
</main>